.container{
    background-color: red;
		height: 900px;
		display: grid;
		/* grid-template-columns: 133px 133px 133px ;
		grid-template-rows:133px 133px 133px ; */
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:143px 1fr 43px;
		row-gap:10px;
		column-gap: 13px;
		align-items: center;
}
.item{
    background-color: aqua;
		height: 122px;
		 width: 122px;  
}
.item2{
	/* justify-self: center; */
	place-self: center;
}
.item1{
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: black;
	width: 100vm;
	color:white
	
}
.footer{
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: black;
}